.background {
    background-color: #000000;
    display: flex;
}
.navbar{
    display: flex;
}
.nav-left{
    color:#FFFFFF ;
}
.nav-left img{
    text-align: left;
    width: 150px;
   
}
.nav-middle{
    color: #FFFFFF;
    text-align: left;
    padding-top:  30px;
}
.nav-middle p{
    text-align: left;
    display: inline;
    padding: 20px;
    flex-wrap: nowrap;
    

}
.nav-right{
    color: #FFFFFF;
    text-align: left;
    padding-top:  30px;

}
.nav-right p{
    text-align: left;
    display: inline;
    padding: 20px;
    flex-wrap: nowrap;
    

}
.nav-right .gpt-box {
    text-align: left;
    display: inline-block;
    padding: 0px;
    flex-wrap: nowrap;
}

.nav-right .gpt-box p {
    border: 1px solid #FFFFFF;
}
