.background {
    background-color: #000000;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: sans-serif;
}
.nav-left{
    color:#FFFFFF ;
    flex: 20%;

}
.nav-left img{
    text-align: left;
    width: 150px;
   
}
.nav-middle{
    color: #FFFFFF;
    text-align: left;
    padding-top:  30px;
    flex: 50%;
}
.nav-middle p{
    text-align: left;
    display: inline;
    padding: 20px;
    flex-wrap: nowrap;
}
.nav-right{
    color: #FFFFFF;
    text-align: left;
    padding-top:  30px;
    flex: 30%;
}
.nav-right p{
    text-align: left;
    display: inline;
    padding: 20px;
    flex-wrap: nowrap;
}
.nav-right .gpt-box {
    text-align: left;
    display: inline-block;
    padding: 0px;
    flex-wrap: nowrap;
}

.nav-right .gpt-box p {
    border: 1px solid #FFFFFF;
}
.body1{
    width: 100%;
    font-family: sans-serif;
}
.body1 .heading{
    color: #FFFFFF;
    font-size: 80px;
    padding-left: 20%;
    
}
.body1 .text{
    color: #FFFFFF;
    position: relative;
    bottom: 120px;
    text-align: center;
    padding-left: 20%;
    padding-right: 30%; 
    padding-bottom: 5px;   
}

